
<h3><%= device.get('name') %></h3>

<div class="row">

	<div class="col-xs-10 col-md-3">
	<div class="btn-group-vertical pull-right recipe-quicklist">
		<!-- button type="button" data-recipe-name="Quick Cook" data-recipe-id="1"
		 data-program-code="13" class="btn btn-default select_program">Quick</button -->
		<button type="button" data-recipe-name="Yogurt" data-recipe-id="6"
		 data-program-code="4" class="btn btn-default select_program">Yogurt</button>
		<button type="button" data-recipe-name="Fry - Meat" data-recipe-id="11"
		 data-program-code="7" class="btn btn-default select_program">Fry (Meat)</button>
		<button type="button" data-recipe-name="Slow Cook - Meat" data-recipe-id="14"
		 data-program-code="8" class="btn btn-default select_program">Slow (Meat)</button>
	</div>

	</div>

	<div class="col-xs-10 col-md-8">
	
		<div class="row finish_spinner_row">
			<div class="col-xs-4 col-md-3 cooker_slider">
				<b></b>
			</div>
			<div class="col-xs-5 col-md-3 cooker_slider">
				Hr
				<!-- input type="text" class="" name="finish_hour" 
				value="23" size="2"-->
			</div>
			<div class="col-xs-3 col-md-3 cooker_slider">
				Min
				<!-- input type="text" class="" name="finish_minute" 
				value="0" size="2" -->
			
			</div>
		</div>
		
		<div class="row cook_spinner_row">
			<div class="col-xs-4 col-md-3 cooker_slider">
				<b>Delay</b>
			</div>
			<div class="col-xs-5 col-md-3 cooker_slider">
				<input type="text" class="" name="cook_hour" 
				value="0" size="2">
			
			</div>
			<div class="col-xs-3 col-md-3 cooker_slider">
				<input type="text" class="" name="cook_minute" 
				value="0" size="2">
			
			</div>
		
		</div>
	
		<div class="row start_button_row">
			<div class="col-md-8">
				<!-- button class="btn btn-primary btn-lg btn-cookbutton center-block">Start Cooking</button -->
			</div>
		</div>
	</div>

	
	

</div>


<div class="row">

	<div class="col-xs-10 col-md-11 jumbotron">
		<h2>Available recipes</h2>
		<div class="recipe-parent" id="rec-parent">
		</div>

		<div class="span9">
			<div class="modal fade" id="myModal" tabindex="-1">
				<div class="modal-dialog">
					<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" 
					aria-hidden="true">×</button>

					</div>
					<div class="modal-body"></div>
				</div>
			</div>
		</div>
	</div>


	</div>

<div class="row">
	<div class="col-md-11">
		<!-- div id="events_timeline">
		Timeline
		</div -->
	
	</div>

</div>






