
<ul class="mainleftnav nav nav-stacked">
	<li class="navbar-dashboard"><a 
		class="btn btn-default" href="#"><span 
		class="glyphicon glyphicon-th-large"></span></a></li>
		
	<li class="navbar-timeline"><a 
		class="btn btn-default" href="#timeline"><span 
		class="glyphicon glyphicon-list-alt"></span></a></li>
		
	<li class="navbar-saved-videos"><a 
		class="btn btn-default" href="#savedVideos"><span 
		class="glyphicon glyphicon-film"></span></a></li>
		
	<li class="navbar-store"><a 
		class="btn btn-default" href="#store"><span
		class="glyphicon glyphicon-tags"></span></a></li>
		
	<li class="navbar-support"><a 
		class="btn btn-default" target="_blank" href="http://hubble.zendesk.com"><span
		class="glyphicon glyphicon-question-sign"></span></a></li>
</ul>



