
<ul id="navbar" class="nav nav-pills">
	<% if(!is_mobile) { %>
	<li class="navbar-dashboard"><a title="<%= lang.t('nav_dashboard') %>"
		class="btn btn-default" href="#"><span 
		class="glyphicon glyphicon-th-large"></span></a></li>
		
	<li class="navbar-timeline"><a  title="<%= lang.t('nav_timeline') %>"
		class="btn btn-default" href="#timeline"><span 
		class="glyphicon glyphicon-list-alt"></span></a></li>
	<% } %>
	<li class="navbar-settings"><a  title="<%= lang.t('nav_settings') %>"
		class="btn btn-default" href="#settings"><span 
		class="glyphicon glyphicon-wrench"></span></a></li>
		
	<!-- li class="navbar-sharing"><a 
		class="btn btn-default" href="#sharing"><span 
		class="glyphicon glyphicon-share"></span></a></li -->
</ul>



