

<% /*
<div id="events_options">
	<div class="pull-left btn-group">
		<span class="events-before pull-left">
			Events Before
		</span>
		<button type="button" class="btn btn-default get-events"
			 data-time-period="1-hour">60 Minutes</button>
		<button type="button" class="btn btn-default get-events"
			 data-time-period="3-hours">3 Hours</button>
		<button type="button" class="btn btn-default get-events"
			 data-time-period="24-hours">24 Hours</button>
		<button type="button" class="btn btn-default get-events"
			 data-time-period="14-days">Two Weeks</button>
		<button type="button" class="btn btn-default get-events"
			 data-time-period="30-days">30 Days</button>
	</div>

</div>
*/
%>

<div class="pull-right event-pagelinks" id="event_pagelinks"></div>

<div id="global_timeline"></div>
