<div id="no_devices" class="container">
	<div class="row">
		<div class="col-md-12">
			<object width="100%" style="max-width:812px;">
			    <!-- See: value="http://.. -->
			    <param name="movie" value="https://www.youtube.com/v/LMcSrQyRI-U"></param>
			    <param name="allowFullScreen" value="true"></param>
			    <param name="allowscriptaccess" value="always"></param>

			    <!-- See: src="http://.. -->
			    <embed src="https://www.youtube.com/v/LMcSrQyRI-U" type="application/x-shockwave-flash" width="100%" height="459" allowscriptaccess="always" allowfullscreen="true" style="max-width:812px"></embed>
			</object>
		</div>
	</div>
</div>
