<div class="container">
	<div class="row">
		<form role="form" class="password-form col-md-10 col-md-offset-1">
			<div class="common-form">

				<h2 class="plan-title"><%= lang.t('lostpassword_title') %></h2>

				<div class="form-group">
					<label for="current_password">
						<%= lang.t('lostpassword_login') %>
					</label>
					<div class="form-errors"></div>

					<input class="form-control" type="text" name="login">
					<div class="form-underlabel">
						<%= lang.t('lostpassword_extrainfo') %>
					</div>
					<div class="btn-wrapper">
						<button class="btn btn-primary" type="submit" name="lostpassword_submit">
							<%= lang.t('lostpassword_submit') %>
						</button>
						<button class="btn btn-default" type="reset" name="lostpassword_reset">
							<%= lang.t('lostpassword_reset') %>
						</button>
					</div>
				</div>

				<div class="submission_feedback" style="padding-bottom: 200px">
					<p><%= lang.t('lostpassword_feedback') %></p>

				</div>

			</div>
		</form>
	</div>
</div>
