<form role="form">
<div class="common-form">

	<div class="form-group">
		<label for="current_password">
			<%= lang.t('resetpassword_password') %>
		</label>
		<input class="form-control" type="password" name="password">
		
		<label for="current_password">
			<%= lang.t('resetpassword_password_confirmation') %>
		</label>
		<input class="form-control" type="password" name="password_confirmation">
		
		<button class="btn btn-primary" type="submit" name="resetpassword_submit">
			<%= lang.t('resetpassword_submit') %>
		</button>
		<button class="btn btn-default" type="reset" name="resetpassword_reset">
			<%= lang.t('resetpassword_reset') %>
		</button>
	</div>
	
	<div class="user-message">
		<p></p>
	</div>

</div>
</form>

